@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../public/fonts/ClashDisplay-Semibold.woff') format('woff2'),
        url('../public/fonts//ClashDisplay-Semibold.woff') format('woff'),
        url('../public/fonts//ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

.card {
    position: relative;
    left: -35px;
    width: 350px;
    height: 450px;

    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}


.imgBx {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 15px 80px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;


}


.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    /* transform:translateY(190x); */
}

/* .details:hover
{
    
    transform:translateY(0px);
} */
.details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;

}

.details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.75;


}

.data {

    /* border: 3px solid red; */
    margin: 25px;
    width: 240px;
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 10px !important;
    font-weight: 400;
    opacity: 1 !important;
    transition: opacity 0.5s ease-in !important;

}

/* .card:hover .data {
    opacity: 1 !important;
} */

.actionsBtn {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */

}

.actionBtn button {
    padding: 10px 29px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.9em;
    font-weight: 500;
    background: rgb(133 217 206);
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.actionBtn button:nth-child(2) {
    border: 1px solid #999;
    color: #999;
    background: #fff;

}

.col {
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 450px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    /* display: flex;
    justify-content: center; */
}

.textloading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    position: absolute;
    top: 350px;
    background-color: rgb(133 217 206);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover,
.btn:focus {
    background-color: rgb(35, 202, 180)2AC;
}



input[type="file"] {
    display: none;
}


.labelforinput {
    width: 100px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    display: inline;
    position: absolute;
    top: 300px;
    border-radius: 8px;
    border-style: none;
    background-color: #999;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.labelforinput:hover,
.labelforinput:focus {
    background-color: #82d1f0;
}

.imagebox2 {
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 15px 80px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;


}


.imagebox2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');